/* you will add css rules for element selectors and IDs */
* section.text {
    max-width: 500px;
    color: #000;
    font-size: 1.2rem;
    line-height:1.4rem;
    margin: 1rem;
    margin-right: 3rem;
    flex-basis: 0 1 100px;
    flex-shrink: 1;
    margin-right: 6rem;

}

* section.photo {
    margin-left: 3rem;
}

* article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;


}

/* you may add to or change the body rule */
html {
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
    color: #FFF;
    background:#fff;
    margin: 0 auto;
}
* img {
    max-width: 100%; /* DO NOT delete or change this line */
    margin-top: 3rem;
}

* section {
    max-width: 500px;
    padding: 1.5em;
    margin: 0;
}



header {
    display: flex;
    background: #666;
    padding: 2rem;
    justify-content: space-between;
}

nav ul {
    display: flex;
    text-transform: uppercase;
    list-style-type: none;
    font-size: 2rem;
}

nav ul li {
    margin: 0;
    margin-left: 1rem;
}

 footer {
    background: #666;
    padding: 1rem;
    text-align: center;

}


/* ----- SUGGESTED COLORS -----
    - ARTICLES
    B26219 cinnamon
    FFD5AE pale peach
    FFBD82 peach
    - LINKS
    379CB2 medium blue
    82E8FF light blue
   ----- NEUTRAL COLORS you may use also -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/
#cougar {
    background:#E17F23;

}

#lion {
    background:#EBD189;

}

#tiger {
    background: #FFBD82;

}


/* --- link pseudo classes --- */
/* --- you may ADD other link pseudo classes for
        specific articles or sections to improve CONTRAST --- */

a {
    color: #1C295E;
}
a:hover {
    color: #003C8A;
}

header a {
   text-decoration: none;
}
